Repository GiantCroissant-Lunar/modern-satsuma: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-dotnet, check-debug-statements

format-dotnet:
  name: Format C# code with dotnet format
  entry: python3 ../hook-validator/python/src/validators/dotnet/format_code.py
  language: system
  pass_filenames: true

check-debug-statements:
  name: Check for Debug Statements
  entry: bash -c 'if grep -rn "Debugger.Break" --include="*.cs" "$@"; then echo "Debug statements found!"; exit 1; fi'
  language: system

RFC-003: Modern C# Syntax Adoption (Partial) ⚠️
  docs/IMPLEMENTATION_LOG.md
  docs/rfcs/README.md
  docs/rfcs/RFC-003-modern-csharp-syntax.md
  dotnet/framework/src/Plate.ModernSatsuma/AStar.cs
  dotnet/framework/src/Plate.ModernSatsuma/BellmanFord.cs
  dotnet/framework/src/Plate.ModernSatsuma/Bfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/BipartiteMaximumMatching.cs
  dotnet/framework/src/Plate.ModernSatsuma/BipartiteMinimumCostMatching.cs
  dotnet/framework/src/Plate.ModernSatsuma/CompleteBipartiteGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/CompleteGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Connectivity.cs
  dotnet/framework/src/Plate.ModernSatsuma/ContractedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dijsktra.cs
  dotnet/framework/src/Plate.ModernSatsuma/DisjointSet.cs
  dotnet/framework/src/Plate.ModernSatsuma/Graph.cs
  dotnet/framework/src/Plate.ModernSatsuma/IO.cs
  dotnet/framework/src/Plate.ModernSatsuma/Isomorphism.cs
  dotnet/framework/src/Plate.ModernSatsuma/Matching.cs
  dotnet/framework/src/Plate.ModernSatsuma/NetworkSimplex.cs
  dotnet/framework/src/Plate.ModernSatsuma/Path.cs
  dotnet/framework/src/Plate.ModernSatsuma/Preflow.cs
  dotnet/framework/src/Plate.ModernSatsuma/PriorityQueue.cs
  dotnet/framework/src/Plate.ModernSatsuma/RedirectedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/ReverseGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/SpanningForest.cs
  dotnet/framework/src/Plate.ModernSatsuma/Subgraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Supergraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Tsp.cs
  dotnet/framework/src/Plate.ModernSatsuma/UndirectedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Utils.cs
Due: format-dotnet, check-debug-statements

RFC-004: API Surface Modernization ✅
  docs/IMPLEMENTATION_LOG.md
  docs/rfcs/RFC-004-api-modernization.md
  dotnet/framework/src/Plate.ModernSatsuma/AStar.cs
  dotnet/framework/src/Plate.ModernSatsuma/AsyncExtensions.cs
  dotnet/framework/src/Plate.ModernSatsuma/BellmanFord.cs
  dotnet/framework/src/Plate.ModernSatsuma/Bfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/BipartiteMaximumMatching.cs
  dotnet/framework/src/Plate.ModernSatsuma/Builders.cs
  dotnet/framework/src/Plate.ModernSatsuma/CompleteBipartiteGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Connectivity.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dijsktra.cs
  dotnet/framework/src/Plate.ModernSatsuma/DisjointSet.cs
  dotnet/framework/src/Plate.ModernSatsuma/IO.GraphML.cs
  dotnet/framework/src/Plate.ModernSatsuma/IO.cs
  dotnet/framework/src/Plate.ModernSatsuma/Isomorphism.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.OptimalSubgraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.OptimalVertexSet.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.cs
  dotnet/framework/src/Plate.ModernSatsuma/Layout.cs
  dotnet/framework/src/Plate.ModernSatsuma/Matching.cs
  dotnet/framework/src/Plate.ModernSatsuma/ModernExtensions.cs
  dotnet/framework/src/Plate.ModernSatsuma/NetworkSimplex.cs
  dotnet/framework/src/Plate.ModernSatsuma/Path.cs
  dotnet/framework/src/Plate.ModernSatsuma/Plate.ModernSatsuma.csproj
  dotnet/framework/src/Plate.ModernSatsuma/Preflow.cs
  dotnet/framework/src/Plate.ModernSatsuma/PriorityQueue.cs
  dotnet/framework/src/Plate.ModernSatsuma/SpanningForest.cs
  dotnet/framework/src/Plate.ModernSatsuma/Subgraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Supergraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Tsp.cs
Due: format-dotnet, check-debug-statements

RFC-005: Performance Optimization (High-Value Subset) ✅
  docs/IMPLEMENTATION_LOG.md
  docs/PERFORMANCE_GUIDE.md
  docs/rfcs/RFC-005-performance-optimization.md
  dotnet/framework/src/Plate.ModernSatsuma/SpanExtensions.cs
Due: format-dotnet, check-debug-statements

docs: Add modernization completion summary
  MODERNIZATION_COMPLETE.md
Due: none

feat: Add GitVersion configuration and dotnet tools
  .config/dotnet-tools.json
  GitVersion.yml
Due: none

feat: Add Nuke build system with GitVersion integration
  build/.gitignore
  build/nuke/build.cmd
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
Due: format-dotnet, check-debug-statements

feat: Enhance NuGet package metadata and configuration
  dotnet/framework/src/Plate.ModernSatsuma/Plate.ModernSatsuma.csproj
Due: none

feat: Add comprehensive test suite with modern .NET patterns
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/ArcLookupExtensionsTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DijkstraTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/ModernApiTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/PerformanceTests.cs
Due: format-dotnet

feat: Add comprehensive documentation structure
  docs/DOCUMENTATION_ORGANIZATION_COMPLETE.md
  docs/NUKE_BUILD_SETUP_COMPLETE.md
  docs/README.md
  docs/analysis/IMPLEMENTATION_LOG.md
  docs/analysis/MODERNIZATION_ANALYSIS.md
  docs/analysis/README.md
  docs/architecture/BUILD_TOOLING_APPLIED.md
  docs/architecture/README.md
  docs/architecture/STRUCTURE_ALIGNMENT.md
  docs/guides/FIX_ACTION_PLAN.md
  docs/guides/HARDENING_PLAN.md
  docs/guides/QUICK_FIX_GUIDE.md
  docs/guides/README.md
  docs/status/CRITICAL_FIXES_COMPLETE.md
  docs/status/MODERNIZATION_COMPLETE.md
  docs/status/README.md
  docs/testing/README.md
  docs/testing/TEST_ENHANCEMENT_COMPLETE.md
  docs/testing/TEST_ENHANCEMENT_PLAN.md
Due: none

docs: Update README with Nuke build system and documentation
  README.md
Due: none

chore: Remove obsolete configuration and documentation files
  .plate-validators.yaml
  BUILD_TOOLING_APPLIED.md
  MODERNIZATION_COMPLETE.md
  STRUCTURE_ALIGNMENT.md
  build-config.json
Due: none

fix: resolve all 6 failing test cases
  dotnet/framework/src/Plate.ModernSatsuma/SpanExtensions.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DijkstraTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/ModernApiTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/PerformanceTests.cs
Due: format-dotnet, check-debug-statements

fix: eliminate all build warnings (0 warnings, 0 errors)
  dotnet/framework/src/Plate.ModernSatsuma/IO.GraphML.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.cs
  dotnet/framework/src/Plate.ModernSatsuma/Plate.ModernSatsuma.csproj
Due: format-dotnet, check-debug-statements

docs: add comprehensive test fixes and warnings resolution report
  TEST_FIXES_COMPLETE.md
Due: none

feat: Complete RFC-006 - Drawing Test Suite Implementation
  RFC-006-COMPLETION-SUMMARY.md
  docs/rfcs/RFC-006-drawing-test-suite.md
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/ColorTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/Plate.ModernSatsuma.Abstractions.Tests.csproj
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/Point2DTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/README.md
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/Rectangle2DTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Abstractions.Tests/Size2DTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/GraphDrawerTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/NodeShapeTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/NodeStyleTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests.csproj
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/README.md
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/SkiaSharpGraphicsContextTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/SkiaSharpGraphicsFactoryTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/SkiaSharpIntegrationTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/SkiaSharpRenderSurfaceFactoryTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SkiaSharp.Tests/SkiaSharpRenderSurfaceTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/GraphDrawerTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/NodeShapeTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/NodeStyleTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests.csproj
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/README.md
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingGraphicsContextTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingGraphicsContextTests.cs.bak
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingGraphicsFactoryTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingIntegrationTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingRenderSurfaceFactoryTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingRenderSurfaceTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/temp_fix.txt
Due: format-dotnet

refactor: Complete Nuke build system migration
  build/nuke/ADOPTION_SUMMARY.md
  build/nuke/Build.cs
  build/nuke/Build.csproj
  build/nuke/FINAL_STRUCTURE.md
  build/nuke/MIGRATION_COMPLETE.md
  build/nuke/README.md
  build/nuke/build.cmd
  build/nuke/build.config.json
  build/nuke/build.config.json.example
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/_artifacts/0.0.1-57/nuget/TestSatellite.1.0.0.nupkg
  build/nuke/build/_artifacts/0.0.1-57/nuget/TestSatellite.1.0.0.snupkg
  build/nuke/src/test-satellite/TestSatellite.cs
  build/nuke/src/test-satellite/TestSatellite.csproj
Due: format-dotnet, check-debug-statements

feat: Extract drawing functionality into separate projects
  dotnet/framework/Directory.Packages.props
  dotnet/framework/Plate.ModernSatsuma.sln
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/IGraphDrawer.cs
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/IGraphicsContext.cs
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/INodeShape.cs
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/Plate.ModernSatsuma.Abstractions.csproj
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/README.md
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/GraphDrawer.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/NodeShape.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/NodeStyle.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/Plate.ModernSatsuma.Drawing.SkiaSharp.csproj
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/README.md
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/SkiaSharpAdapter.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/GraphDrawer.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/NodeShape.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/NodeStyle.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/Plate.ModernSatsuma.Drawing.SystemDrawing.csproj
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/README.md
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/SystemDrawingAdapter.cs
  dotnet/framework/src/Plate.ModernSatsuma/GraphLayout.cs
  dotnet/framework/src/Plate.ModernSatsuma/Plate.ModernSatsuma.csproj
Due: format-dotnet, check-debug-statements

docs: Add drawing extraction and RFC-006 completion documentation
  docs/DRAWING_EXTRACTION.md
  docs/EXTRACTION_SUMMARY.md
  docs/KNOWN_LIMITATIONS.md
  docs/RFC-006-COMPLETION-SUMMARY.md
  docs/SKIASHARP_ADDED.md
  docs/TEST_FIXES_COMPLETE.md
  docs/rfcs/README.md
Due: none

chore: Add task automation and pre-commit tooling
  Taskfile.yml
  docs/Taskfile.yml.backup-before-rfc002
  precommit/ORGANIZATION.md
  precommit/README.md
  precommit/checks/check-sops-security.sh
  precommit/checks/general/gitleaks-check
  precommit/checks/general/organize_scattered_docs.py
  precommit/checks/general/prevent_nul_file.py
  precommit/checks/general/validate-hub-manifest
  precommit/checks/general/validate_agent_pointers.py
  precommit/examples/pre-commit-config.yaml
  precommit/examples/setup-hooks.sh
  precommit/hooks/commit-msg
  precommit/hooks/pre-commit
  precommit/hooks/pre-push
  precommit/utils/common.sh
Due: none

chore: Clean up obsolete files and update configurations
  .gitignore
  .pre-commit-config.yaml
  RFC-006-COMPLETION-SUMMARY.md
  TEST_FIXES_COMPLETE.md
  build/.gitignore
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
Due: format-dotnet, check-debug-statements

Enhance GraphBuilder with weights/tags and improve tests
  dotnet/framework/.editorconfig
  dotnet/framework/Directory.Packages.props
  dotnet/framework/Plate.ModernSatsuma.sln
  dotnet/framework/src/Plate.ModernSatsuma.Abstractions/INodeShape.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SkiaSharp/NodeStyle.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/NodeStyle.cs
  dotnet/framework/src/Plate.ModernSatsuma.Drawing.SystemDrawing/SystemDrawingAdapter.cs
  dotnet/framework/src/Plate.ModernSatsuma.SourceGenerators/.editorconfig
  dotnet/framework/src/Plate.ModernSatsuma.SourceGenerators/Attributes.cs
  dotnet/framework/src/Plate.ModernSatsuma.SourceGenerators/GraphBuilderGenerator.cs
  dotnet/framework/src/Plate.ModernSatsuma.SourceGenerators/Plate.ModernSatsuma.SourceGenerators.csproj
  dotnet/framework/src/Plate.ModernSatsuma/KShortestPaths.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingIntegrationTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Drawing.SystemDrawing.Tests/SystemDrawingRenderSurfaceFactoryTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/BellmanFordTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/BfsTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DfsTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DijkstraTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/GraphBuilderAdvancedTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/GraphBuilderSmokeTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/KShortestPathsTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/ModernApiTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/PerformanceTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/Plate.ModernSatsuma.Tests.csproj
Due: format-dotnet, check-debug-statements

Add optimal two-edge-disjoint paths algorithm and modern APIs
  .gitignore
  AGENTS.md
  docs/analysis/MODERNIZATION_ANALYSIS.md
  docs/architecture/ADR-icclearable-drawing-extraction.md
  docs/architecture/STRUCTURE_ALIGNMENT.md
  docs/guides/FIX_ACTION_PLAN.md
  dotnet/framework/src/Plate.ModernSatsuma/BidirectionalDijkstra.cs
  dotnet/framework/src/Plate.ModernSatsuma/Builders.cs
  dotnet/framework/src/Plate.ModernSatsuma/DisjointPaths.cs
  dotnet/framework/src/Plate.ModernSatsuma/KShortestPaths.cs
  dotnet/framework/src/Plate.ModernSatsuma/ModernExtensions.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/BidirectionalDijkstraTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DisjointPathsTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/ModernApiTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/PerformanceTests.cs
  lifeguard.yaml
Due: format-dotnet, check-debug-statements

Add snapshot tests and benchmarks, split CPM, and update agent docs
  AGENTS.md
  CLAUDE.md
  dotnet/framework/Directory.Packages.props
  dotnet/framework/benchmarks/Plate.ModernSatsuma.Benchmarks/Plate.ModernSatsuma.Benchmarks.csproj
  dotnet/framework/benchmarks/Plate.ModernSatsuma.Benchmarks/Program.cs
  dotnet/framework/tests/Directory.Packages.props
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SnapshotTests.VerifyCustomGraphStructure.verified.txt
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SnapshotTests.VerifyDisjointPathsStructureAndPaths.verified.txt
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SnapshotTests.VerifySimpleTextSnapshot.verified.txt
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SnapshotTests.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SourceGeneratorsSnapshotTests.VerifyGraphBuilderGeneratorOutput.verified.txt
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/SourceGeneratorsSnapshotTests.cs
Due: format-dotnet, check-debug-statements

chore(build): Update Nuke build configuration for project structure
  build/nuke/Build.cs
  build/nuke/Build.csproj
  build/nuke/build.config.json
  build/nuke/build.ps1
Due: format-dotnet, check-debug-statements

docs: Add YAML frontmatter to documentation files
  docs/PERFORMANCE_GUIDE.md
  docs/README.md
Due: none

style: Normalize indentation to spaces across codebase
  dotnet/framework/src/Plate.ModernSatsuma/AStar.cs
  dotnet/framework/src/Plate.ModernSatsuma/AsyncExtensions.cs
  dotnet/framework/src/Plate.ModernSatsuma/BellmanFord.cs
  dotnet/framework/src/Plate.ModernSatsuma/Bfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/BipartiteMaximumMatching.cs
  dotnet/framework/src/Plate.ModernSatsuma/BipartiteMinimumCostMatching.cs
  dotnet/framework/src/Plate.ModernSatsuma/Builders.cs
  dotnet/framework/src/Plate.ModernSatsuma/CompleteBipartiteGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/CompleteGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Connectivity.cs
  dotnet/framework/src/Plate.ModernSatsuma/ContractedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dfs.cs
  dotnet/framework/src/Plate.ModernSatsuma/Dijsktra.cs
  dotnet/framework/src/Plate.ModernSatsuma/DisjointSet.cs
  dotnet/framework/src/Plate.ModernSatsuma/Graph.cs
  dotnet/framework/src/Plate.ModernSatsuma/GraphLayout.cs
  dotnet/framework/src/Plate.ModernSatsuma/IO.GraphML.cs
  dotnet/framework/src/Plate.ModernSatsuma/IO.cs
  dotnet/framework/src/Plate.ModernSatsuma/Isomorphism.cs
  dotnet/framework/src/Plate.ModernSatsuma/KShortestPaths.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.OptimalSubgraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.OptimalVertexSet.cs
  dotnet/framework/src/Plate.ModernSatsuma/LP.cs
  dotnet/framework/src/Plate.ModernSatsuma/Matching.cs
  dotnet/framework/src/Plate.ModernSatsuma/ModernExtensions.cs
  dotnet/framework/src/Plate.ModernSatsuma/NetworkSimplex.cs
  dotnet/framework/src/Plate.ModernSatsuma/Path.cs
  dotnet/framework/src/Plate.ModernSatsuma/Preflow.cs
  dotnet/framework/src/Plate.ModernSatsuma/PriorityQueue.cs
  dotnet/framework/src/Plate.ModernSatsuma/RedirectedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/ReverseGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/SpanExtensions.cs
  dotnet/framework/src/Plate.ModernSatsuma/SpanningForest.cs
  dotnet/framework/src/Plate.ModernSatsuma/Subgraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Supergraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Tsp.cs
  dotnet/framework/src/Plate.ModernSatsuma/UndirectedGraph.cs
  dotnet/framework/src/Plate.ModernSatsuma/Utils.cs
Due: format-dotnet, check-debug-statements

docs: Add status badges to README.md
  README.md
Due: none

Add deterministic Dijkstra algorithm implementation with tests
  .editorconfig
  dotnet/framework/src/Plate.ModernSatsuma/DeterministicDijkstra.cs
  dotnet/framework/tests/Plate.ModernSatsuma.Tests/DeterministicDijkstraTests.cs
Due: format-dotnet, check-debug-statements

Path conditions:
  format-dotnet: any of: \.cs$, but not: (?x)^(
  .*\.min\..*|
  .*\.generated\..*|
  .*/obj/.*|
  .*/bin/.*|
  .*/node_modules/.*|
  .*\.Designer\.cs|
  .*\.g\.cs|
  .*\.g\.i\.cs
)$

  check-debug-statements: any of: \.cs$ and not ((Tests?/|/obj/|/bin/)) and not ((?x)^(
  .*\.min\..*|
  .*\.generated\..*|
  .*/obj/.*|
  .*/bin/.*|
  .*/node_modules/.*|
  .*\.Designer\.cs|
  .*\.g\.cs|
  .*\.g\.i\.cs
)$
)
